ul li {
	list-style-type: square;
 }

h1, h2, li {
    font-family: sans;
}

ul {
    background-color: #fcf9f5;
    padding: 16px 30px;
}

li {
    font-weight: bold;
    color: white;
    padding: 16px;
    margin: 8px;
    list-style-type: none;
    border-radius: 8px;
    transition: transform .2s;
}

li:hover {
    transform: scale(1.01);
}

.Alta {
	background: red;
}

.Baixa {
	background: green;
}

form {
    width: 400px;
    margin: auto;
    display: block;
}
input, select {
    padding: .5em 1em;
    border-radius: 8px;
}

.bguay {
    background-color: hotpink;
    color: white;
    border: 0;
    padding: .675em 1em;
    box-shadow: 0px 0px 8px rebeccapurple;
}